// Main color
$main-color: #df136f;
$main-color-hover: #a81354;

$main-blue: #143350;
$main-blue-hover: #0a1e2d;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
